/*Import Core*/

@import "core/reset-min";
@import "core/fonts";
@import "core/variables";
@import "core/mixin";
html {
    font-size: 62.5%;
}

.container {
    background-color: $white;
    display: flex;
    overflow: auto;
    flex-direction: column;
}

.home-bg {
    display: flex;
    flex-direction: column;
    height: 110.0rem;
    width: 100%;
    // background-color: $deepblue;
    background-image: url(../images/selfPortrait3.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    background-color: black;
    // padding-left: 15rem;
    // padding-top: 2rem;
    // padding-right: 15rem;
    .menu-bar {
        // display: flex;
        width: full-width;
        // justify-content: space-between;
        // background-color: black;
        // align-items: center;
        // height: 8rem;
        // padding-left: 15rem;
        // padding-top: 2rem;
        // padding-right: 15rem;
    }
    #email {
        a {
            text-decoration: none;
            color: white;
            font-size: 2rem;
            font-family: 'SF UI Text', Helvetica, sans-serif;
            font-weight: 500;
            font-style: normal;
        }
        -webkit-transform: rotate(-90deg);
        // -moz-transform: rotate(-90deg);
        // -ms-transform: rotate(-90deg);
        // -o-transform: rotate(-90deg);
        // -spec-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -ms-transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        position: fixed;
        top: 50%;
        margin-top: 112px;
        left: 80px;
        z-index: 100;
    }
    #socials {
        position: absolute;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        z-index: 10;
        position: fixed;
        right: 80px;
        z-index: 100;
    }
    #socials li {
        position: relative;
        display: block;
        padding: 10px;
    }
}

.header {
    display: flex;
    width: full-width;
    justify-content: center;
    // background-color: $white;
    align-items: center;
    height: 8rem;
    padding-left: 15rem;
    padding-top: 1rem;
    padding-right: 15rem;
    .logo {
        display: flex;
    }
    .nav-menu {
        display: flex;
        align-items: center;
        position: fixed;
        ul {
            // flex-direction: row;
            // padding-left: 1.5rem;
            // padding-right: 1.5rem;
            list-style: none;
            display: flex;
            li {
                padding-left: 3rem;
                padding-right: 3rem;
                display: flex;
                a {
                    text-decoration: none;
                    color: white;
                    font-size: 2rem;
                    font-family: 'SF UI Text', Helvetica, sans-serif;
                    font-weight: 500;
                    font-style: normal
                }
            }
        }
    }
}

.toggle-nav {
    display: none;
}

.main {
    // margin-left: 17rem;
    display: flex;
    height: 60rem;
    overflow: hidden;
    position: relative;
    flex-direction: column;
    &__smtext {
        // display: none;
    }
    // &__CTA {
    //     // display: flex;
    // }
}

.slogan {
    margin-top: 300px;
    margin-bottom: 0px;
    padding-left: 15rem;
    // padding-right: 15rem;
    /* CHAT: */
    font-family: 'SF UI Display', Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 8rem;
    color: $white;
    letter-spacing: 0.1rem;
}

.main__smtext {
    margin-top: 20px;
    margin-bottom: 0px;
    padding-left: 15rem;
    line-height: 24px;
    /* CHAT: */
    font-family: 'SF UI Display', Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    color: $white;
    letter-spacing: 0.1rem;
}

.scroll-prompt {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    z-index: 4;
}

.cta--caption {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;
    z-index: 4;
    font-family: 'SF UI Display', Helvetica, sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    color: whitesmoke;
}

.cta--button {
    margin-bottom: 70px;
    z-index: 4;
    // .scroll-promt span {
    //     display: inline-block;
    //     margin-right: 90px;
    //     line-height: 1;
    //     &:last-child {
    //         margin-right: 0;
    //     }
    // }
}

// .CTA {
//     display: flex;
//     position: fixed;
//     margin-left: 50%;
//     // background-image: 
//     width: 16px;
//     padding: 20px;
//     border: none;
//     margin-top: 60px;
//     z-index: +1;
//     // background: #67D0DF;
//     // border-radius: 5px;
//     /* Download Now: */
//     font-family: 'SF UI Display', Helvetica, sans-serif;
//     font-size: 1.8rem;
//     color: #FFFFFF;
//     font-weight: 500;
//     font-style: normal;
//     cursor: pointer;
// }
.section {
    display: flex;
    flex-direction: column;
    height: 110.0rem;
    width: 100%;
    // background-color: $deepblue;
    // background-image: url(../images/selfPortrait3.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    background-color: black;
    width: 100%;
    // height: 32rem;
    color: white;
    font-family: 'SF UI Display', Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    .brief-intro h2 {
        font-size: 4.8rem;
        line-height: 5.8rem;
        font-weight: 300;
        font-style: normal;
    }
    .About p {
        font-size: 2.4rem;
        line-height: 3.1rem;
        font-weight: 300;
        font-style: normal;
        color: white;
    }
    .extra {
        font-size: 1.6rem;
        line-height: 2rem;
        font-weight: 300;
        font-style: medium;
        color: white;
    }
}